.navbar {
    width: 100%;
    height: 60px;
    padding: 10px;
    background-color: #0e0e0e;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition: 0.3s;
  }
  
.main {
    background-color: #8e7c7c;
    transition: 0.3s;
  }
  
.aside {
    background-color: #ffecec;
    transition: 0.3s;
  }
  
.footer {
    width: 100%;
    height: 50px;
    background-color: #2c2727;
    z-index: 1;
  }  